.submit-button {
  margin-left: 32px;
}

.toolbar {
  margin-bottom: 32px;
  padding-left: 0px;
  padding-right: 0px;
}

mat-form-field {
  margin-bottom: 50px;
  width: 200px;
}

mat-form-field + mat-form-field {
  margin-left: 20px;
}
